.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.header__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}


.header__item:hover {
    color: var(--primary-blue);
    font-weight: 500;
}

.header__button_span {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    color: var(--primary);
}