.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.header__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.75rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


.header__item:hover {
    color: var(--primary-blue);
}

.header__button_span {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    color: var(--primary);
}